build/
StRoot/
.sl73_gcc485/
utils/lists/*
utils/MC/lists*
work/CMakeCache.txt
work/CMakeFiles/
work/Makefile
work/PlotManager
work/AnalysisManager
work/backup/
work/cmake_install.cmake
work/dEdx.png
work/include/RunDef_backup.h
work/lists/Backup1109/
work/src/Backup/
work/submit.xml
work/os
work/rootinit.sh
temp_gccflags.c
*.dataset
*.dataset.tmp
*.zip
*.package
*.session.xml
submit_*.xml
*.nfs*
*.log
*.sh~
*.py~
*.xml~
*.mp3
*.pyc
*.d
*.so
*.o
*.root
*.txt~
*.cxx~
*.in~
*.h~
*.C~
*.list~
